<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto </title>
</head>
<body>
    <h1><%= mercadoria %></h1>

    <p><a href="/produtos">Voltar</a></p>
</body>
</html>