<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

    <h1>Bem vindo ao tela de clientes</h1>
    <hr>

    <a href="/">Voltar para a tela inicial</a><br>
    <a href="/clientes">clientes</a><br>
    <a href="/perfil">Perfil</a><br>
    <a href="/produtos">Produtos</a><br>
    <a href="/servicos">Serviços</a><br>
    <img src="/imgs/nodeLogo.png" alt="imagem node" height="300px" >

<%- include ('partials/footer.ejs')%>
