

<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>
<h1>Bem vindo ao tela de Perfil</h1>
    <hr>
    <a href="/">Voltar para a tela inicial</a>
<%- include ('partials/footer.ejs')%>
