<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cilentes</title>
</head>
<body>
    <h1>Bem vindo ao tela de clientes</h1>
    <hr>
    <a href="/">Voltar para a tela de perfil</a>


</body>
</html>